.wrapper {
  position: relative;
  font-weight: 600;
}

.row {
  display: flex;

  border-top: none;
  border-bottom: none;

  & > * {
    padding: 1rem;
    flex: 2;

    & > * {
      margin: 0 0 0.4rem;
    }

    &:not(:first-child):not(:last-child) {
      flex: 3;
    }
  }
}
