@import '../../styles/variables.css';

:root {
  --header-height: 60px;
  --header-height-scrolled: 50px;
}

header.menu {
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  box-sizing: border-box;
  background-size: 100px 50px;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: transform, height;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.26);
  z-index: 9999;

  &.scrolled {
    height: var(--header-height-scrolled);
  }
}

.inner-wrapper {
  display: flex;
  height: 100%;
  & > nav {
    margin-left: auto;
  }
  & > * {
    flex: 1;
  }
}
